.bg-img {
    background-image: url("file:///C:/Users/Tomas/Downloads/Champions-IT/Pictures/istockphoto-1346944001-612x612.jpg");
    height: 300px;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
 
}

h2 {
    font-family: var(--text-style);
    color: var(--main-color);
    font-size: 50px;
    background-color: var(--main-bg-color);
}

p { 
    font-family: var(--text-style);
    font-size: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    border: 1px black;
}

footer {
    height: 140px;
    width: 100vw; 
    background-color: var(--box-bg-color);
    position: relative;
    bottom: 0;
    
}

footer p {
    color: var(--main-color);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 15px 10px;

  }

  
  [class*="fa"]{
    background-color: black;
    color: white;
  }


  .fa:hover {
    opacity: 0.7;

}
