
img 
{
   
        height: 60px;
        width: 100%;
        border-radius: 20px;
    
}

main {
    display: var(--display-text);
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);

}
main h1{
    color:var(--main-color);
    font-style: var(--text-style);
}

.logo-wrapper{
    width: 550px;
    display: block;
    margin: 10px auto;    
}

.hero {
    display: var(--display-text);
    flex-direction: column;
    align-items: center;
     
}

.hero img {
    width: 50%;
    height: auto;
    margin-top: 140px;
}

.info-boxes {
    display: var(--display-text);
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 80px;
    width:100%;
    margin-bottom:100px;
}

.info-box {
    width: 300px; 
    background-color: var(--box-bg-color);
    color:var(--main-color);
    padding: 20px;
    text-align: center;
    justify-content: space-evenly;
    height:140px;
}

.info-box h2 {
    font-size: 24px;
    text-decoration: underline;
    
}

.info-box p {
   font-size: 18px;
   color: var(--main-color);
    
}
.info-box a {
    display: block; 
    margin-top: 10px; 
    text-decoration: none;
    color:rgb(172, 163, 163);
    font-weight: bold;
}

.email-link {
    text-decoration: none; 
    color: rgb(172, 163, 163); 
    font-weight: bold; 
}


.email-link:hover {
    text-decoration: underline; 
}

.topligan-link {
    text-decoration: none; 
    color: rgb(172, 163, 163); 
    font-weight: bold; 
}


.info-box a:hover {
    text-decoration: underline;
}





  





