.bg-img {
    background-image: url("../Pictures/Office.bild.jpg");
    width: 100%;
    height: 400px;
    margin-top: 0px;
}

.services {
    height: 200px;
    width: 400px;
    border: 1px solid black;
    margin-bottom: 200px;
    background: linear-gradient(239deg, #007bbd, #003f61);
    position: relative;
    top: 100px;
    left: 70px;
    opacity: 0.9;
    font-family: var(--text-style);


}

.services,
h2 {
    color: white;
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 60px;

}


.box1,
.box2,
.box3 {
    display: var(--display-text);
    min-height: 200px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    background-color: var(--main-bg-color);
    height: 30px;
    width: 100%;
}

.box1,
.box2,
.box3,
h3 {
    color: white;
    display: inline-block;
    justify-content: center;

    font-family: var(--text-style);
}


.boxar {
    display: var(--display-text);
    justify-content: center;
    gap: 120px;
    line-height: 1.5;

}

img {
    height: 60px;
    width: 100%;
    border-radius: 20px;


}

p {
    color: black;
    font-size: 17px;
}

label {
    color: black;
    display: inline-block;
    cursor: pointer;
    background-color: lightblue;
    padding: 3px 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 65px;
}


#ch {
    display: none;
}

#ch:checked~.content {
    display: block;
}

#ch:checked~label {
    display: none;
}

.content {
    display: none;
}

#ch2 {
    display: none;
}

#ch2:checked~.content2 {
    display: block;
}

#ch2:checked~label {
    display: none;
}

.content2 {
    display: none;
}

#ch3 {
    display: none;
}

#ch3:checked~.content3 {
    display: block;
}

#ch3:checked~label {
    display: none;
}

.content3 {
    display: none;
}